body {
  color: #0c0c0c;
  font-family: 'Source Sans Pro', sans-serif; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }
