@media (max-width: 576px) {

.customer .judul {
  padding-top: 40px;
  padding-bottom: 20px;
}

.customer .item {    
  text-align: center;
  font-size: 17px;
}

footer .logo {
  -ms-flex-order: -1;
  order: -1;
}

footer .alamat {
  text-align: center !important;
}

footer .kontak {
  text-align: center !important;
}

}