// compileCompressed: ../css/$1.css

body {
  //background: #f7f7fa;
}

/*
 * NAVIGASI
 */
.navigasi {
  box-shadow: 0 2px 2px rgba(158, 158, 158, 0.4);

  .navbar-white {
    .navbar-brand {

      img {
        max-height: 30px;
      }
    }

    .navbar-nav {
      .nav-link {
        color: #0a84ff;

        &:focus, &:hover {
          color: #0a84ff;
        }

        &.disabled {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-text {
      color: rgba(0, 0, 0, 0.5);
      a {
        color: rgba(0, 0, 0, 0.9);

        &:focus, &:hover {
          color: #0a84ff;
        }
      }
    }
  }
}


/*
 * PRODUK
 */
.produk {
  .item {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
}


/*
 * CUSTOMER
 */
.customer {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #0060df;
  background-image: linear-gradient(to bottom,#0060df 0,#009cff 50%,#00abff 100%);
  color: #fff;
  position: relative;

  &::before {
    background: transparent url("../media/wave.09fee20ffc01.svg") top center no-repeat;
    background-size: auto auto;
    -webkit-background-size: 3000px 151px;
    background-size: 3000px 151px;
    content: '';
    display: block;
    height: 151px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 100%;
  }

  .judul {
    font-size: 2.66667rem;
    font-weight: bold;
    color: #fff;
    padding-top: 55px;
  }

  .penjelasan {
    margin-bottom: 70px;
    font-size: 25px;
  }

  .item {
    color: #fff;
    font-size: 20px;
  }
}


/*
 * FOOTER
 */
footer {
  background: rgba(12, 12, 13, 1);
  color: #fff;
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
}

//@import "utilities";
