// compileCompressed: ../css/$1.css

@media (max-width: 576px) {
  .customer {
    padding-bottom: 50px;

    .judul {
      padding-top: 40px;
      padding-bottom: 20px;
    }

    .item {
      text-align: center;
      font-size: 17px;
    }
  }

  footer {
    .logo {
      order: -1;
    }

    .alamat {
      text-align: center !important;
    }

    .kontak {
      text-align: center !important;
    }

    .madewithlove {
      margin-top:25px;
    }
  }

}
