// compileCompressed: ../css/$1.css

body {
  background: #f7f7fa;
}

/*
 * NAVIGASI
 */
.navigasi {
  .navbar-white {
    .navbar-brand {

      img {
        max-height: 30px;
      }
    }

    .navbar-nav {
      .nav-link {
        color: #0a84ff;

        &:focus, &:hover {
          color: #0a84ff;
        }

        &.disabled {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-text {
      color: rgba(0, 0, 0, 0.5);
      a {
        color: rgba(0, 0, 0, 0.9);

        &:focus, &:hover {
          color: #0a84ff;
        }
      }
    }
  }
}


/*
 * PRODUK
 */
.produk {
  padding-top: 70px;
  padding-bottom: 50px;

  .judul {
    font-size: 30px;
  }

  .penjelasan {
    margin-bottom: 70px;
    font-size: 18px;
  }

  .item {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
    }
  }
}


/*
 * CUSTOMER
 */
.customer {
  padding-top: 50px;
  padding-bottom: 50px;

  .judul {
    font-size: 30px;
    color: #0192FC;
  }

  .penjelasan {
    margin-bottom: 70px;
    font-size: 18px;
  }

  .item {
    color: #646e81;
  }
}


/*
 * FOOTER
 */
footer {
  background: #F0F0F4;
  color: #333;
  font-size: 14px;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

//@import "utilities";
