// compileCompressed: ../css/$1.css

body {
  background: #f9f0eb;
}

/*
 * navigasi
 */
.navigasi {
  background: #4e2c25;
  box-shadow: 0 1px 2px rgba(158, 158, 158, 0.4);

  .navbar-custom {
    a.navbar-brand {
      color: #b58848;
      font-size: 30px;
      font-weight: 700;
      line-height: 0;
    }

    .navbar-nav {
      .nav-link {
        color: #c7cac7;
        font-size: 18px;
        font-weight: 400;

        &:focus, &:hover {
          color: #0a84ff;
        }

        &.disabled {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .navbar-toggler {
      color: rgb(210, 180, 147);
      border-color: rgb(210, 180, 147);
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3csvg viewbox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(210, 180, 147)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='m4 7h22m4 15h22m4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-text {
      color: rgba(0, 0, 0, 0.5);
      a {
        color: rgba(0, 0, 0, 0.9);

        &:focus, &:hover {
          color: #0a84ff;
        }
      }
    }
  }
}


/*
 * home about
 */
 .about {
   background: #f9f0eb;
   padding-top: 200px;
   padding-bottom: 200px;

   p {
     font-family: "zilla slab","open sans",x-localespecific,sans-serif;
     font-size: 25px;
     font-weight: 700;
     color: #4e2c25;
     padding-top: 30px;
   }
 }

/*
 * visi misi
 */
.vimi {
  color: #b1b1b3;

  .visi, .misi {
    background: #0c0c0d;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align:center;

    [class^="flaticon-"]:before {
      font-size: 130px;
      margin-left: 0;
      line-height: 170px;
    }

    h4 {
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 2.25rem;
    }

    p{
      font-size: 17px;
      font-weight: 300;
      width: 58%;
      margin: 0 auto;
      line-height: 25px;
    }
  }

  .visi {
    .flaticon-aviator {
      color: #b58848;
    }

    h4 {
      color: #57abc1;
    }
  }

  .misi {
    .flaticon-transport {
      color: #57abc1;
    }

    h4 {
      color: #b58848;
    }
  }
}


/*
 * produk
 */
.produk {
  padding-top: 100px;
  padding-bottom: 100px;

  .judul {
    font-size: 2.66667rem;
    font-weight: bold;
    color: #000;
  }

  .penjelasan {
    color: #4e2c25;
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 300;
  }

  .item {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
    }
  }
}


/*
 * customer
 */
.customer {
  padding-top: 80px;
  padding-bottom: 100px;

  background-color: #0c0c0d;
  position: relative;

  &::before {
    background: transparent url("../media/wave.09fee20ffc01.svg") top center no-repeat;
    background-size: auto auto;
    -webkit-background-size: 3000px 151px;
    background-size: 3000px 151px;
    content: '';
    display: block;
    height: 151px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 100%;
  }

  .judul {
    font-size: 2.66667rem;
    font-weight: bold;
    color: #a2aac2;
    padding-top: 55px;
  }

  .penjelasan {
    color: #b58848;
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 300;
  }

  .item {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
}


/*
 * footer
 */
footer {
  color: #0c0c0d;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    color: #0a84ff;
  }
}

//@import "utilities";
